body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.contenedor{
    display:grid;
    place-items: center;
}


h1{
    font-size: 25px;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.producto--imagen{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    
}

.coupons--label{
margin-top: 30px;
}

.formulario{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.formulario--cupones{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#cupon{
    width: 300px;
    margin-top: 10px;
}
button{
    margin-top: 10px;
}